@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_GroupFinderLayout.cshtml";
}

<h2>This is the home page</h2>
<p>Pick your server on the left side to get started.</p>

<p>TODO:</p>
<ul>
    <li>Random Dungeon Group Finder</li>
    <li>Specific Instance Group Finder</li>
    <li>Raid Group Finder</li>
    <li>etc?</li>
</ul>