@{
    ViewData["Title"] = "Magtheridon";
    Layout = "~/Views/Shared/_GroupFinderLayout.cshtml";
}

<h2>This is the home page</h2>
<p>This site will likely (not really, I'm lazy) get turned into a collection of projects that will be useful in various situations.</p>

<p>Eventual goals are to:</p>
<ul>
    <li>Home Automation - Security Cameras</li>
    <li>Home Automation - Lights</li>
    <li>Server - Remote Control Panel</li>
    <li>etc</li>
</ul>

<h2>About</h2>
<p>Hi, my name is Ryan. I do programming.</p>